<h1>About</h1>

<p>
Instagram Media Downloader is an online tool to download Instagram pictures and videos online. <br>
With the help of our tool, you can download your favourites Instagram pictures and videos (public) in just one click and save that to your device.
</p>
<p>
<%= render partial: 'layouts/instructions' %>
</p>
<p>
<h3>Disclaimer:</h3>
We are not affiliated or partner with Instagram & we don't host any of the Instagram Photos or videos on our website, all rights belong to their respective owners.
</p>