<h3>Instructions</h3>

1. Input user profile which you want the media in the "Instagram profile" text box.<br>
2. A window from Instagram feed of the selected user will <i>pop-up</i> for you.<br>
3. Drag and drop the picture/video you want into the "Instagram URL" text box.<br>
4. Click the "Download" button.<br>
5. The downloaded images/video will be displayed in the next page.<br>
6. Click the “Download” link to save the images/videos or just right-click the images/video center and click “Save Image as...”<br>
&nbsp;<br>
OR<br><br>
1. Paste the picture/video URL that you want into the "Instagram URL" text box.<br>
4. Click the "Download" button.<br>
5. The downloaded images/video will be displayed in the next page.<br>
6. Click the “Download” link to save the images/videos or just right-click the images/video center and click “Save Image as...”<br>

<br>&nbsp;